body {
  margin: 0;
  padding: 60px;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  width: 100%;
  font-size: 1.1rem;
  color: rgb(59, 59, 59) ;
}
ol{
  padding: 0;
  display: flex;
  flex-direction: column;
}
.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(83, 83, 83) ;
  border-radius: 6px;
  margin: 10px 10px 0 0;
  overflow: hidden;
  width: 250px;
  height: 195px;
}
.card p{
  margin: 0;
  padding: 5px;
  text-align: center;
}
.card img{
  width: 98%;
  max-height: 170px;
}